*-blx.aux
*-blx.bib
*-blx.bib
*.acn
*.acr
*.alg
*.algorithms
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.keys
*.listing
*.loa
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.mw
*.nav
*.nlo
*.out
*.pdfsync
*.ptc
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.syntex.gz(busy)
*.tdo
*.thm
*.toc
*.vrb
*.xdv
*.xdy
